<% provide(:title, "Contact") %>

<h1>静的ページの問い合わせです</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<p> <a href="http://railstutorial.jp/contact"> Ruby on Rails tutrial-contact </a> </p>
