<% provide(:title, "Help") %>
<h1>静的ページのヘルプです</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p> <a href="http://railstutorial.jp/help"> Ruby on Rails tutrial-help </a> </p>
<p> <a href="http://railstutorial.jp/book"> Ruby on Rails tutrial-book </a> </p
